In [6]:
import pandas as pd
data = pd.read_csv("consumo_202307.csv", encoding="latin-1", delimiter=";")
data.head()

,FECHA_CORTE,PERIODO_FACTURACION,UUID,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES,FASE,CODIGO_CIU
0,20230808,202307,C200807286016600110180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,31.8,MONOFASICO,T9700
1,20230808,202307,C200807286016600690180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,41.7,MONOFASICO,T9700
2,20230808,202307,C200812296016700090180828,150711,LIMA,HUAROCHIRI,LANGA,LANGA,BT5B,20081229,2.0,1.0,6.9,MONOFASICO,T9700
3,20230808,202307,C200905276017000060180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,MONTERRICO,BT5B,20090527,0.0,1.0,39.9,MONOFASICO,T9700
4,20230808,202307,C200905276017100130180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,ANTIOQUIA,BT5B,20090527,36.0,1.0,31.4,MONOFASICO,T9700

In [7]:
print(data.isnull().sum())

FECHA_CORTE            0
PERIODO_FACTURACION    0
UUID                   0
UBIGEO                 0
DEPARTAMENTO           0
PROVINCIA              0
DISTRITO               0
LOCALIDAD              0
TARIFA                 0
FECHA_INICIO           0
CONSUMO_KW             0
POTENCIA_CONTRATADA    0
MONTO_SOLES            0
FASE                   0
CODIGO_CIU             0
dtype: int64

In [8]:
print(data.dtypes)
data.head()

FECHA_CORTE              int64
PERIODO_FACTURACION      int64
UUID                    object
UBIGEO                   int64
DEPARTAMENTO            object
PROVINCIA               object
DISTRITO                object
LOCALIDAD               object
TARIFA                  object
FECHA_INICIO             int64
CONSUMO_KW             float64
POTENCIA_CONTRATADA    float64
MONTO_SOLES            float64
FASE                    object
CODIGO_CIU              object
dtype: object

,FECHA_CORTE,PERIODO_FACTURACION,UUID,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES,FASE,CODIGO_CIU
0,20230808,202307,C200807286016600110180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,31.8,MONOFASICO,T9700
1,20230808,202307,C200807286016600690180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,41.7,MONOFASICO,T9700
2,20230808,202307,C200812296016700090180828,150711,LIMA,HUAROCHIRI,LANGA,LANGA,BT5B,20081229,2.0,1.0,6.9,MONOFASICO,T9700
3,20230808,202307,C200905276017000060180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,MONTERRICO,BT5B,20090527,0.0,1.0,39.9,MONOFASICO,T9700
4,20230808,202307,C200905276017100130180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,ANTIOQUIA,BT5B,20090527,36.0,1.0,31.4,MONOFASICO,T9700

In [9]:
data["UUID"]=data["UUID"].astype('category')
data["DEPARTAMENTO"]=data["DEPARTAMENTO"].astype('category')
data["PROVINCIA"]=data["PROVINCIA"].astype('category')
data["DISTRITO"]=data["DISTRITO"].astype('category')
data["LOCALIDAD"]=data["LOCALIDAD"].astype('category')
data["TARIFA"]=data["TARIFA"].astype('category')
data["FASE"]=data["FASE"].astype('category')
data["CODIGO_CIU"]=data["CODIGO_CIU"].astype('category')
print(data.dtypes)
data.head()

FECHA_CORTE               int64
PERIODO_FACTURACION       int64
UUID                   category
UBIGEO                    int64
DEPARTAMENTO           category
PROVINCIA              category
DISTRITO               category
LOCALIDAD              category
TARIFA                 category
FECHA_INICIO              int64
CONSUMO_KW              float64
POTENCIA_CONTRATADA     float64
MONTO_SOLES             float64
FASE                   category
CODIGO_CIU             category
dtype: object

,FECHA_CORTE,PERIODO_FACTURACION,UUID,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES,FASE,CODIGO_CIU
0,20230808,202307,C200807286016600110180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,31.8,MONOFASICO,T9700
1,20230808,202307,C200807286016600690180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,20080728,0.0,1.0,41.7,MONOFASICO,T9700
2,20230808,202307,C200812296016700090180828,150711,LIMA,HUAROCHIRI,LANGA,LANGA,BT5B,20081229,2.0,1.0,6.9,MONOFASICO,T9700
3,20230808,202307,C200905276017000060180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,MONTERRICO,BT5B,20090527,0.0,1.0,39.9,MONOFASICO,T9700
4,20230808,202307,C200905276017100130180828,150702,LIMA,HUAROCHIRI,ANTIOQUIA,ANTIOQUIA,BT5B,20090527,36.0,1.0,31.4,MONOFASICO,T9700

In [10]:
categorical_data=data.drop(['FECHA_CORTE', 'PERIODO_FACTURACION', 'UBIGEO', 'FECHA_INICIO','CONSUMO_KW','POTENCIA_CONTRATADA', 'MONTO_SOLES'],axis=1)
categorical_data.head()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FASE,CODIGO_CIU
0,C200807286016600110180828,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,MONOFASICO,T9700
1,C200807286016600690180828,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,MONOFASICO,T9700
2,C200812296016700090180828,LIMA,HUAROCHIRI,LANGA,LANGA,BT5B,MONOFASICO,T9700
3,C200905276017000060180828,LIMA,HUAROCHIRI,ANTIOQUIA,MONTERRICO,BT5B,MONOFASICO,T9700
4,C200905276017100130180828,LIMA,HUAROCHIRI,ANTIOQUIA,ANTIOQUIA,BT5B,MONOFASICO,T9700

In [11]:
categorical_data_label=categorical_data

In [12]:
categorical_data_label['DEPARTAMENTO']=categorical_data_label['DEPARTAMENTO'].cat.codes
categorical_data_label['PROVINCIA']=categorical_data_label['PROVINCIA'].cat.codes
categorical_data_label['DISTRITO']=categorical_data_label['DISTRITO'].cat.codes
categorical_data_label['LOCALIDAD']=categorical_data_label['LOCALIDAD'].cat.codes
categorical_data_label['TARIFA']=categorical_data_label['TARIFA'].cat.codes
categorical_data_label['FASE']=categorical_data_label['FASE'].cat.codes
categorical_data_label['CODIGO_CIU']=categorical_data_label['CODIGO_CIU'].cat.codes
categorical_data_label

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FASE,CODIGO_CIU
0,C200807286016600110180828,9,30,7,1681,2,0,81
1,C200807286016600690180828,9,30,7,1681,2,0,81
2,C200812296016700090180828,9,30,129,952,2,0,81
3,C200905276017000060180828,9,30,7,1123,2,0,81
4,C200905276017100130180828,9,30,7,96,2,0,81
...,...,...,...,...,...,...,...,...
78025,C201707302121041250180828,3,13,46,1185,2,0,81
78026,C201707312121041730180828,3,13,46,1185,2,0,81
78027,C201707252121050570180828,3,13,46,365,2,0,81
78028,C201707252121050610180828,3,13,46,365,2,0,81
78029,C201707252121060190180828,3,13,46,747,2,0,81

In [13]:
numerical_data = data.drop(['UUID','DEPARTAMENTO','PROVINCIA','DISTRITO','LOCALIDAD','TARIFA','FASE','CODIGO_CIU'],axis=1)
numerical_data.head()

,FECHA_CORTE,PERIODO_FACTURACION,UBIGEO,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES
0,20230808,202307,150702,20080728,0.0,1.0,31.8
1,20230808,202307,150702,20080728,0.0,1.0,41.7
2,20230808,202307,150711,20081229,2.0,1.0,6.9
3,20230808,202307,150702,20090527,0.0,1.0,39.9
4,20230808,202307,150702,20090527,36.0,1.0,31.4

In [14]:
dataset_new=categorical_data_label.join(numerical_data)
dataset_new.head()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FASE,CODIGO_CIU,FECHA_CORTE,PERIODO_FACTURACION,UBIGEO,FECHA_INICIO,CONSUMO_KW,POTENCIA_CONTRATADA,MONTO_SOLES
0,C200807286016600110180828,9,30,7,1681,2,0,81,20230808,202307,150702,20080728,0.0,1.0,31.8
1,C200807286016600690180828,9,30,7,1681,2,0,81,20230808,202307,150702,20080728,0.0,1.0,41.7
2,C200812296016700090180828,9,30,129,952,2,0,81,20230808,202307,150711,20081229,2.0,1.0,6.9
3,C200905276017000060180828,9,30,7,1123,2,0,81,20230808,202307,150702,20090527,0.0,1.0,39.9
4,C200905276017100130180828,9,30,7,96,2,0,81,20230808,202307,150702,20090527,36.0,1.0,31.4

In [16]:
data = pd.read_csv("consumo_202307.csv", encoding="Latin-1", delimiter=";")
categorical_data_one_hot = data.drop(['UUID','FECHA_CORTE', 'PERIODO_FACTURACION', 'UBIGEO', 'FECHA_INICIO','CONSUMO_KW','POTENCIA_CONTRATADA', 'MONTO_SOLES'],axis=1)
categorical_data_one_hot["DEPARTAMENTO"]=categorical_data_one_hot["DEPARTAMENTO"].astype('category')
categorical_data_one_hot["PROVINCIA"]   =categorical_data_one_hot["PROVINCIA"].astype('category')
categorical_data_one_hot["DISTRITO"]    =categorical_data_one_hot["DISTRITO"].astype('category')
categorical_data_one_hot["LOCALIDAD"]   =categorical_data_one_hot["LOCALIDAD"].astype('category')
categorical_data_one_hot["TARIFA"]      =categorical_data_one_hot["TARIFA"].astype('category')
categorical_data_one_hot["FASE"]        =categorical_data_one_hot["FASE"].astype('category')
categorical_data_one_hot["CODIGO_CIU"]  =categorical_data_one_hot["CODIGO_CIU"].astype('category')

print(categorical_data_one_hot.dtypes)

encoded_departament = pd.get_dummies(categorical_data_one_hot['DEPARTAMENTO'])
encoded_provincia = pd.get_dummies(categorical_data_one_hot['PROVINCIA'])
encoded_distrito = pd.get_dummies(categorical_data_one_hot['DISTRITO'])
encoded_localidad = pd.get_dummies(categorical_data_one_hot['LOCALIDAD'])
encoded_tarifa = pd.get_dummies(categorical_data_one_hot['TARIFA'])
encoded_fase = pd.get_dummies(categorical_data_one_hot['FASE'])
encoded_codigo_ciu = pd.get_dummies(categorical_data_one_hot['CODIGO_CIU'])


categorical_data_one_hot=categorical_data_one_hot.join(encoded_departament)
categorical_data_one_hot=categorical_data_one_hot.join(encoded_provincia, rsuffix='_provincia')
categorical_data_one_hot=categorical_data_one_hot.join(encoded_distrito, rsuffix='_distrito')
categorical_data_one_hot=categorical_data_one_hot.join(encoded_localidad, rsuffix='_localidad')
categorical_data_one_hot=categorical_data_one_hot.join(encoded_tarifa)
categorical_data_one_hot=categorical_data_one_hot.join(encoded_fase)
categorical_data_one_hot=categorical_data_one_hot.join(encoded_codigo_ciu)
categorical_data_one_hot.head()
#genera un 1GB de CSV (:'v)
#categorical_data_one_hot.to_csv("categorical_data_encoded.csv", index=False)

DEPARTAMENTO    category
PROVINCIA       category
DISTRITO        category
LOCALIDAD       category
TARIFA          category
FASE            category
CODIGO_CIU      category
dtype: object

,DEPARTAMENTO,PROVINCIA,DISTRITO,LOCALIDAD,TARIFA,FASE,CODIGO_CIU,AMAZONAS,ANCASH,APURIMAC,...,R9103,R9312,R9329,S9411,S9491,S9499,S9601,S9609,T9700,U9900
0,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,MONOFASICO,T9700,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,LIMA,HUAROCHIRI,ANTIOQUIA,SANTA ROSA DE CHONTAY (CHONTAY),BT5B,MONOFASICO,T9700,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,LIMA,HUAROCHIRI,LANGA,LANGA,BT5B,MONOFASICO,T9700,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,LIMA,HUAROCHIRI,ANTIOQUIA,MONTERRICO,BT5B,MONOFASICO,T9700,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,LIMA,HUAROCHIRI,ANTIOQUIA,ANTIOQUIA,BT5B,MONOFASICO,T9700,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [22]:
import pandas as pd
data = pd.read_csv("consumo_202307.csv", encoding="Latin-1", delimiter=";")
categorical_data_tarjet = data.drop(['UUID','FECHA_CORTE', 'PERIODO_FACTURACION', 'UBIGEO', 'FECHA_INICIO','POTENCIA_CONTRATADA', 'MONTO_SOLES'],axis=1)

categorical_data_tarjet["CONSUMO_KW"] = categorical_data_tarjet["CONSUMO_KW"].astype("category")
categorical_data_tarjet["CONSUMO_KW"] = categorical_data_tarjet["CONSUMO_KW"].cat.codes

fase_means = categorical_data_tarjet.groupby('CODIGO_CIU')['CONSUMO_KW'].mean()
fase_means

CODIGO_CIU
A0111      0.666667
A0113    116.500000
A0127      0.000000
A0141     15.500000
A0149      3.000000
            ...
S9499     26.529412
S9601     30.000000
S9609     26.875000
T9700     23.814744
U9900      0.000000
Name: CONSUMO_KW, Length: 83, dtype: float64